



/* Custom Card Listing Css */
.custom-container-wishlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px; 
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; 
}

.custom-card-wishlist {
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

/* Apply Flexbox for the first row */
/* .custom-container-wishlist > .custom-card-wishlist:nth-child(4n - 3) {
  width: 100%;
  max-width: 270px; 
} */
