
/* YourComponent.css */
.custom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the container horizontally */
  align-items: flex-start;
  margin: 35px auto;
  padding: 0;
}

.custom-card {
  width: 270px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:nth-child(6n + 1) {
    clear: left;
  }

  &:hover {
    transform: scale(1.05);
  }
}

/* Add a pseudo-element to create space before the second row */
.custom-container::before {
  content: "";
  flex-basis: 100%; /* Push the second row to a new line */
  height: 0; /* Hide the pseudo-element's height */
  visibility: hidden; /* Hide the pseudo-element */
}

/* Media Query for Smaller Screens */
@media (max-width: 1000px) {
  .custom-container {
    justify-content: center; /* Center the container */
  }

  .custom-card {
    width: 100%; /* Make the cards 100% width to center them */
  }
}
